@import '../../partials/variables';
.body {
  background-color: #eeddcc;

  img.absimg {
    position: absolute;
    z-index: 1;

    &.rectangle2 {
      bottom: 0;
      width: 15%;
    }
    &.accessories {
      bottom: -11.875rem;
    }
    &.dots {
      width: 8%;
      top: 5.3rem;
    }
    &.rectangle {
      top: 0;
      right: 0;
    }
  }
  .mainimg {
    z-index: 20;
    position: relative;
  }
}
