// theme colors
$primary: #34251f !default;
$secondary: #eeddcc !default;
$error: #d32752 !default;
$info: #f6c31c !default;

// spacing
$base-padding: 1.05rem;
$base-margin: 0.75rem;

$container-padding: 8.875rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;
