@tailwind base;
@tailwind components;
@tailwind utilities;

// variables
@import 'partials/variables';
// fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;500;700;900&display=swap');
// colors

// components(button, cards)

// utilities(margin, padding)
body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $primary;
  background-color: #e9e2e0;
}

button {
  @apply font-semibold  justify-center text-center md:text-sm cursor-pointer text-xs  hover:opacity-80 flex items-center space-x-2;

  &.outlineprimary {
    @apply bg-transparent border px-5 py-3 border-primary;
  }
  &.primary {
    @apply bg-primary px-5 py-3  text-white border border-primary;
  }
  &.small {
    @apply bg-primary px-4 py-2  text-white border border-primary;
  }
}

.ruhl {
  font-family: 'Frank Ruhl Libre', sexrif;
}

.boxshadow {
  background-color: rgba(52, 37, 31, 0.29);
  opacity: 20%;
}

.pagecontainer {
  @apply xl:px-32 px-10;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
